.errorText {
  font-size: smaller;
  color: #ff5c5c;
  margin-left: 6px;
  animation: moveDown 200ms ease-in-out;

  &::before {
    display: inline;
    content: "⚠ ";
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    translate: 0 -12px;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}
