.field {
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  border: 2px solid #c0ffa5;
  border-radius: 6px;
  margin-top: 16px;
  transform: 200ms;

  &:focus-within {
    border-color: #7eff47;


    label {
      color: #7eff47;
    }
  }

  input {
    height: 100%;
    width: 100%;
    padding: 12px;
    outline: none;
    background-color: transparent;
    border: 0;
    font-size: medium;

    :is(&:focus, &:not(:placeholder-shown)) ~ label {
      transform: translateY(-16px) scale(.9);
      background-color: #000913;
      padding: 0 4px;
      line-height: 16px;
      height: min-content;
    }
  }
  
  label {
    position: absolute;
    background-color: transparent;
    left: 12px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #c0ffa5;
  }

  &:hover {
    border-color: #7eff47;
    
    input {
      &:not(:placeholder-shown) ~ label {
        color: #58ff10;
      }
    }
  }
}

.error {
  border-color: #ff5c5c;
  transition: 200ms;
  animation: shake 150ms 3;

  &:hover{
    border-color: red;
    
    input {
      &:not(:placeholder-shown) ~ label {
        color: red;
      }
    }
  }

  &:focus-within {
    border-color: red;


    label {
      color: red;
    }
  }

  label {
    color: #ff5c5c;
  }
}

@keyframes shake {
  0%, 100% {
    translate: 0;
  }

  25% {
    translate: 8px 0;
  }

  75% {
    translate: -8px 0;
  }
}
